[flake8]
# Игнорируем проверку длины строк (E501) и пустые строки с пробелами (W293)
ignore = E501, W293, W292, W391, F401
# Исключаем системные папки
exclude = 
    .venv,
    venv,
    env,
    __pycache__,
    .git,
    .pytest_cache
